{% extends 'base.html.twig' %}

{% block title %}Meteo
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/page.css') }}">
{% endblock %}

{% block body %}
	<twig:NavBar/>
	<div class="flex justify-center items-center flex-wrap mt-20 py-4 px-20 gap-4">
		{% for item in data %}
			<iframe id="widget_autocomplete_preview" width="400" class="pointer-events-none" frameborder="0" src="{{ item }}" title="Prévisions Météo-France"></iframe>
		{% endfor %}
	</div>
{% endblock %}
